<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="assets/main.css"> 


<div class="container">
    <div class="menubar">
        <button class="optionbutton">Files</button>
        <div class="menubar-content">
            <a href="">Open</a>
            <a href="">Save</a>
        </div>
    </div>     
    <div class="menubar1">
        <button class="optionbutton1">Option</button>
        <div class="menubar-content1">
            <a href="">Network</a>
            <a href="">Social</a>
        </div>
    </div> 
    <div class="menubar1">
        <button class="optionbutton1" routerLink = "/">Home</button>
    </div>
    <div class="menubar1">
        <button class="optionbutton1">Rules</button>
    </div>
    <div class="menubar1">
        <button class="optionbutton1">Cool Fitness Trick</button>
    </div>
    <div class="menubar1">
        <button class="optionbutton1" routerLink="/login">Sign In</button>
    </div>   
</div>