<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="assets/main.css"> 


<div class="container" >
    <div class="jumbotron,card" style="position:relative;padding-bottom: 1%">  
        
            <img class="card-img-top" src="assets/download1.jpg" alt="Card image cap">
            <h1 style="position: absolute ; top: 200px ;
            left: 10; width: 100%"><span>Welcome to Fitness First<span class ="spacer"></span></span></h1>
            
        
    </div>
    
    <div class="row" style=" padding-bottom: 5%">
        <div class="col-md-4">
            <div class="card" >
                <img class="card-img-top" src="assets/download.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">SignIn</h4>
                    <p class="card-text">To work on your fitness, to live a healty life, to achive your fitness goal and be successfull Signup now!!</p>
                    <button routerLink="/login" class="btn btn-primary" onclick="">Sign-IN</button>
                    
                </div>
            </div>                     
    </div>
    <div class="col-md-4">
                <div class="card" >
                        <img class="card-img-top" src="assets/dowload3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Rules</h4>
                            <p class="card-text">There is only one rules. To come on the web-site everyday and keep track of your fitness</p>
                            <a href="rulebook.html" class="btn btn-primary">Rule Book</a>
                        </div>
                    </div>
                    
    </div>
    <div class="col-md-4">
                <div class="card" >
                        <img class="card-img-top" src="assets/download4.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Body buiding tricks</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary" onclick="document.getElementById('id02').style.display='block'"> Build your body</a>
                        </div>
                </div>
            
    </div>
              
</div>